Source: ros-melodic-am-robot-activity
Section: misc
Priority: optional
Maintainer: support <support@automodality.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-roscpp, ros-melodic-rospy, ros-melodic-roslint
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-am-robot-activity
Replaces: ros-melodic-robot-activity , ros-melodic-robot-actvity-msgs, ros-melodic-robot-activity-tutorials
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-roscpp, ros-melodic-rospy
Description: Tell us why this exists
